<!doctype html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/png" href="//res.cloudinary.com/hhl9xzdsm/image/upload/v1525271569/favicon.ico"/>
    <meta property="og:url" content="https://www.annacrichardson.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Anna Richardson's Personal Website" />
  </head>
  <body>
    <div id="main"></div>
  </body>
</html>